FUNNYOPTION_ENV=staging
FUNNYOPTION_LOG_LEVEL=info
FUNNYOPTION_SHUTDOWN_TIMEOUT=10s

FUNNYOPTION_DOMAIN=funnyoption.xyz
FUNNYOPTION_PUBLIC_WEB_BASE_URL=https://funnyoption.xyz
FUNNYOPTION_PUBLIC_ADMIN_BASE_URL=https://admin.funnyoption.xyz

FUNNYOPTION_POSTGRES_DSN=postgres://funnyoption:replace-me@postgres:5432/funnyoption?sslmode=disable
FUNNYOPTION_POSTGRES_PASSWORD=replace-me
FUNNYOPTION_REDIS_ADDR=redis:6379
FUNNYOPTION_KAFKA_BROKERS=kafka:9092
FUNNYOPTION_KAFKA_TOPIC_PREFIX=funnyoption.staging.

FUNNYOPTION_API_HTTP_ADDR=:8080
FUNNYOPTION_WS_HTTP_ADDR=:8081
FUNNYOPTION_MATCHING_GRPC_ADDR=:9090
FUNNYOPTION_ACCOUNT_GRPC_ADDR=:9091
FUNNYOPTION_LEDGER_GRPC_ADDR=:9095
FUNNYOPTION_SETTLEMENT_GRPC_ADDR=:9093
FUNNYOPTION_CHAIN_GRPC_ADDR=:9094

FUNNYOPTION_LOCAL_CHAIN_MODE=
FUNNYOPTION_LOCAL_CHAIN_HOST=
FUNNYOPTION_LOCAL_CHAIN_PORT=

FUNNYOPTION_CHAIN_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
FUNNYOPTION_CHAIN_RPC_FALLBACK_URLS=
FUNNYOPTION_CHAIN_OPERATOR_PRIVATE_KEY=replace-me
FUNNYOPTION_CHAIN_NAME=bsc
FUNNYOPTION_NETWORK_NAME=testnet
FUNNYOPTION_CHAIN_ID=97
FUNNYOPTION_FRONTEND_CHAIN_NAME=BSC Testnet
FUNNYOPTION_VAULT_ADDRESS=0xreplaceMe
FUNNYOPTION_COLLATERAL_TOKEN_ADDRESS=0xreplaceMe
FUNNYOPTION_COLLATERAL_SYMBOL=USDT
FUNNYOPTION_COLLATERAL_DECIMALS=6
FUNNYOPTION_COLLATERAL_ACCOUNTING_DECIMALS=2
FUNNYOPTION_CHAIN_EXPLORER_URL=https://testnet.bscscan.com
FUNNYOPTION_NATIVE_CURRENCY_NAME=BNB
FUNNYOPTION_NATIVE_CURRENCY_SYMBOL=tBNB
FUNNYOPTION_NATIVE_CURRENCY_DECIMALS=18
FUNNYOPTION_CHAIN_CONFIRMATIONS=6
FUNNYOPTION_CHAIN_START_BLOCK=0
FUNNYOPTION_CHAIN_POLL_INTERVAL=5s
FUNNYOPTION_CHAIN_CLAIM_POLL_INTERVAL=10s
FUNNYOPTION_CHAIN_GAS_LIMIT=250000

FUNNYOPTION_OPERATOR_WALLETS=0xreplaceMe
FUNNYOPTION_DEFAULT_OPERATOR_USER_ID=1001
