.shell {
  width: min(1380px, calc(100% - 88px));
  margin: 0 auto;
  padding: 24px 0 64px;
}

@media (max-width: 1180px) {
  .shell {
    width: min(100% - 34px, 1380px);
    padding-top: 20px;
  }
}

@media (max-width: 760px) {
  .shell {
    width: min(100% - 20px, 1380px);
    padding: 16px 0 52px;
  }
}
